@import "../styles/onePage.scss";
@import "../styles/twoPage.scss";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    /* overflow: hidden; */
}